.blog-titel{
         font-family: 'Quicksand', sans-serif;
         font-size: 30px;
         font-weight: 900;
         color: #000;
}
.blog-titel h2::after{
         position: absolute;
         top: 17px;
         left: -100px;
         width: 80px;
         height: 2px;
         content: "";
         background-color: #000;
}
.blog-titel h2::before{
         position: absolute;
         top: 17px;
         left: -100px;
         width: 80px;
         height: 2px;
         content: "";
         background-color: #000;
}
.blog-content{
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 320px;
    max-width: 100%;
    margin: -64px 25px 0;
    padding: 14px 44px;
    background-color: #fff;
}
.blog-img{
         overflow: hidden;
}
.blog-img img{
         transition:  1.5s ;
}
.blog-img:hover img{
         transform: scale(1.5);
}

